/* Scoped layout styles */
a {
  color: #1565c0;
}

.btn-primary {
  color: #fff;
  background-color: #1565c0;
  border-color: #0d47a1;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1565c0;
  border-color: #0d47a1;
}
